# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Django
db.sqlite3
db.sqlite3-journal
staticfiles/
media/
*.log

# Environment variables
.env
.env.*

# Virtual environments
venv/
.venv/
env/

# Distribution / packaging
dist/
build/
*.egg-info/
.eggs/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
